* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-fundo: #322f29;
  --color-box-left: #443c3c;
  --color-box-right: #83b37c;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../imgs/fundo-img.jpg);
}

.container {
  width: 75%;
  max-height: 1100px;
  border-radius: 10px;
  color: white;

  /* Efeito de Vidro */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.container__table {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 8px;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.tabela thead,
.tabela tbody {
  display: block;
  width: 100%;
}

.tabela thead {
  background-color: var(--color-box-left);
}

.tabela th,
.tabela td {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  min-width: 190px;
  box-sizing: border-box;
}

.tabela tbody {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.tabela tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.tabela tbody td {
  color: #eee;
}
